<launch>
  <arg name="model" default="waffle_pi" doc="model type [waffle_pi]"/>
  <arg name="x_pos" default="0.2"/>
  <arg name="y_pos" default="0.2"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw" default="0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_ttk4192.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot description using the manipulation URDF (waffle_pi + OpenManipulator-X) -->
  <param name="robot_description"
    command="$(find xacro)/xacro
      $(find turtlebot3_manipulation_description)/urdf/turtlebot3_manipulation_robot.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
    args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -Y $(arg yaw) -z $(arg z_pos) -param robot_description" />

  <!-- PID gains required by gazebo_ros_control -->
  <rosparam file="$(find turtlebot3_manipulation_gazebo)/config/gazebo_controller.yaml" command="load"/>

  <!-- Load and start the arm and gripper controllers -->
  <include file="$(find turtlebot3_manipulation_gazebo)/launch/turtlebot3_manipulation_controller.launch"/>
</launch>
